.enterStartLocation-container{
    width: 15%;
    aspect-ratio: 1/1;
    background: transparent; 
    border: none; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.enterStartLocation-icon{
    width: 100%;
    height:100%;
    object-fit: contain;
}