.feedback-icon-container {
    width: 67px;
    height: 67px;
    position: fixed;
    bottom: 115px; 
    right: 140px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-icon {
    width: 100%; 
    height: 100%;
    object-fit: contain;
}
