.leftContainer{
    display: flex; 
    align-items: center;
    flex-direction: column;
    width: 50wh;
    aspect-ratio: 1/1;
    background-color: #000;
}

.rightContainer{
    display: flex; 
    align-items: center;
    flex-direction: column;
    width: 50wh;
    aspect-ratio: 1/1;
    background-color: #000;
}

.locationRetrieval-container {
    position: absolute;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: #ECE9E9;
    width: 25%;
    aspect-ratio: 2/1;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  }
  
.locationRetrieval-header{
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 2vh; 
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locationRetrieval-button{
    color: #000;
    font-family: Poppins;
    font-size: 1vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.4;
    text-align: left; 
    padding-left: 20px;
}

.separator{
    background: #FFF;
    width: 100%;
    aspect-ratio: 100/1;
    flex-shrink: 0;
}

.locationRetrievalSearch-bar{
    color: #000;
    font-family: Poppins;
    font-size: 1vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.4;
    text-align: left; 
    padding-left: 20px;
}

/* Map Container */
.map-container {
    width: 70%;
    max-width: 1000px;
    aspect-ratio: 16 / 6; /* Keeps proper map aspect ratio */
    display: flex;
    align-items: center;
    
}

/* Map Image */
.map-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the map scales correctly */
    border-radius: 20px;
}