.modeOfTransport-container {
    position:absolute;
    top: 5vh;
    left: 71vw;
    background-color: transparent;
    width: 20%;
    aspect-ratio: 9 / 2; 
    border: none; 
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    row-gap: 10%;
    align-items: center;
}

.transport-label {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: min(1.3vw, 40px);
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container {
    width: 30%;
    height: 60%;
    background: #ECE9E9; 
    border: none; 
    border-radius: 22px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-left: 4%;
}

.icon {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

@media (max-width: 430px) {
    .modeOfTransport-container {
        position:absolute;
        top: 2vh;
        left: 49.5vw;
        background-color: transparent;
        width: 48.5vw;
        aspect-ratio: 9 / 2; 
        border: none; 
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        row-gap: 10%;
        align-items: center;
    }
    
    .transport-label {
        color: #000;
        font-family: Poppins, sans-serif;
        font-size: 3vw;
        font-weight: 600;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .icon-container {
        width: 20%;
        height: 40%;
        background: #ECE9E9; 
        border: none; 
        border-radius: 22px;
        display: flex; 
        align-items: center; 
        justify-content: center;
        margin-left: 5%;
    }
    
    .icon {
        width: 100%;
        height: 60%;
        object-fit: contain;
    }
}