.bookingsPage-container {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100wh;
    background-color: #FFF;
    padding: 20px;
    align-items: center; 
    gap: 5%;
}

.bookingsPage-typography {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: min(3vw, 36px); 
    font-weight: 600;
    margin-top: 10%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greyCarPark-container {
    width: min(80vw, 640px); 
    height: min(50vh, 440px); 
    background: #ECE9E9; 
    border-radius: 20px; 
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    
}

/* Map Image */
.greyCarParkContainer-topText {
    width: min(407px, 90%);
    font-family: Poppins, sans-serif;
    font-size: min(3vw, 28px);
    font-weight: 700;
    line-height: normal;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 5%;
    padding: 0 10px;
}

.greyCarParkContainer-bottomText {
    width: min(407px, 90%);
    max-height:80%;
    font-family: Inter, sans-serif;
    font-size: min(2vw, 20px);
    font-weight: 400;
    line-height: normal;
    color: #000;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    position: relative;
    flex-grow: 1;
    margin-bottom: 5%;
}

.bottomRowButtons-container {
    width: 100%; 
    aspect-ratio: 10/1;
    background-color: transparent;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    object-fit: contain;
}

.computeRoute-button1 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.computeRoute-icon1 {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.changeBooking-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.changeBooking-icon {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.deleteBooking-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.deleteBooking-icon {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

  
.no-bookings-section {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100wh;
    background-color: #FFF;
    padding: 20px;
    align-items: center; 
    gap: 5%;
}

.ghost-container {
    width: min(40vw, 233px); 
    height: min(40vw, 233px); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.ghost-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.no-bookings-text {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: min(2vw, 24px); 
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
}

.view-driving-route-button{
  width: clamp(180px, 50vw, 264px);
  height: clamp(45px, 10vw, 61px);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin-top: -5%;
}

.view-driving-route-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 430px) {
.bookingsPage-container {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100wh;
    background-color: #FFF;
    padding: 20px;
    align-items: center; 
    gap: 5%;
}

.bookingsPage-typography {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 4vw; 
    font-weight: 600;
    margin-top: 11vh;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greyCarPark-container {
    width: 75vw;
    height: 50vh;
    background: #ECE9E9;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    margin-top: -2vh;
    
}

/* Map Image */
.greyCarParkContainer-topText {
    width: 90%;
    font-family: Poppins, sans-serif;
    font-size: 4vw;
    font-weight: 700;
    line-height: normal;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 3vh;
}

.greyCarParkContainer-bottomText {
    width: 90%;
    max-height:90%;
    font-family: Inter, sans-serif;
    font-size: 3vw;
    font-weight: 400;
    line-height: normal;
    color: #000;
    text-align: center;
    flex-grow: 0; 
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 5%;
    overflow-y: auto;
}

.bottomRowButtons-container {
    width: 100%; 
    background-color: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    margin-top: 0;
    gap: 0;
}

.computeRoute-button1 {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.computeRoute-icon1 {
    width: 90%;
    height: 60%;
    object-fit: contain;
}

.changeBooking-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 0;
}

.changeBooking-icon {
    width: 90%;
    height: 60%;
    object-fit: contain;
}

.deleteBooking-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 0;
}

.deleteBooking-icon {
    width: 90%;
    height: 60%;
    object-fit: contain;
}

  
.no-bookings-section {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100wh;
    background-color: #FFF;
    padding: 20px;
    align-items: center; 
    gap: 5%;
}

.ghost-container {
    margin-top: -20vh;
    width: 60vw; 
    height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.ghost-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.no-bookings-text {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 4vw; 
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15vh;
}

.view-driving-route-button{
  width: 50vw;
  height: 20vh;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin-top: -10vh;
}

.view-driving-route-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
}