.transport-container {
    position: absolute;
    top: 67px;
    right: 130px;
    display: flex;
    align-items: center; /* Aligns text and icon */
    gap: 8px; /* Adds spacing between text and icon */
}

.transport-label {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    width: 172px;
    height: 27px;
}

.car-icon-container {
    width: 72px;
    height: 44px;
    border-radius: 20px;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
}

.car-icon {
    width: 100%; 
    height: 100%;
    object-fit: contain;
}


