.profileIcon-container {
    position: absolute;
    top: 3.1vh; 
    right: 6.4vw; 
    width: min(2.7vw, 50px); 
    aspect-ratio: 1 / 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.profile-icon {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}

@media (max-width: 430px){
    .profileIcon-container {
        position: absolute;
        top: 1.45vh; 
        right: 8vw; 
        width: min(4.2vw, 50px); 
        aspect-ratio: 1 / 1; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    
    .profile-icon {
        width: 100%; 
        height: 100%;
        object-fit: contain; 
    }
}

