.container5 {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: clamp(0.5rem, 2vw, 2%);
}

.leftContainer5 {
    position: relative;
    float: left;
    width: 70%;
    aspect-ratio: 5 / 3;
    background-color: transparent;
    padding: clamp(0.5rem, 2vw, 1em);
    margin-top: clamp(1rem, 3.5%, 3.5%);
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: clamp(1rem, 5%, 5%);
}

.rightContainer5 {
    position: relative;
    float: right;
    width: 30%;
    aspect-ratio: 5 / 7;
    background-color: transparent;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}

.directions-container3 {
    position: relative;
    height: clamp(300px, 40vw, 543px);
    width: clamp(215px, 27vw, 335px);
    aspect-ratio: 2 / 3;
    background-color: transparent;
    border: clamp(1px, 0.2vw, 2px) solid #000;
    border-radius: clamp(10px, 3vw, 30px);
    margin-top: clamp(5rem, 17%, 17%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(0.5rem, 2vw, 1rem);
    overflow: hidden;
    align-items: center;
    margin-right: clamp(1rem, 5%, 5%);
}

.directions-header {
    height: 10%;
    width: 100%;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.directions-title {
    color: #000;
    font-family: Inter;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 570;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.directions-timer {
    padding-left: clamp(1rem, 5vw, 26%);
    object-fit: contain;
    display: flex;
    align-items: center;
}

.directions-duration {
    color: #000;
    font-family: Inter;
    font-size: clamp(1rem, 1.3vw, 2rem);
    font-weight: 570;
    padding-left: clamp(0.5rem, 3%, 3%);
    white-space: nowrap;
}

.step-list-container {
    flex: 1;
    margin-bottom: clamp(0.5rem, 1vw, 1rem);
    padding-right: clamp(0.25rem, 1vw, 5px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
}

.step-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    overflow-y: auto;
}

.step-item {
    display: flex;
    align-items: center;
    gap: clamp(0.3rem, 1vw, 10px);
    margin-bottom: clamp(0.1rem, 0.5vw, 0.2rem);
    justify-content: space-between;
}

.step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(20px, 2.5vw, 30px);
    height: clamp(20px, 2.5vw, 30px);
    flex-shrink: 0;
}

.step-text {
    margin: 0;
    font-size: clamp(0.75rem, 1vw, 1.05rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: clamp(0.5rem, 1.5vw, 6%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.step-description {
    display: flex;
    flex-grow: 1;
    text-align: left;
}

.step-distance-duration {
    font-size: clamp(0.75rem, 1vw, 1.05rem);
    margin-top: -5%;
    color: #555;
}

.start-container {
    position: absolute;
    bottom: -2.5%;
    width: clamp(70px, 12vw, 95px);
    height: clamp(70px, 12vw, 95px);
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.start-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rowContainer5 {
    width: 100%;
    max-width: clamp(600px, 90vw, 900px);
    aspect-ratio: 10 / 1;
    background-color: #FFF;
    margin-top: clamp(1rem, 2%, 2%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(10px, 2vw, 20px);
}

.map-container6 {
    margin-top: clamp(1%, 1vw, 2%);
    margin-left: clamp(3%, 1vw, 3%);
    height: clamp(300px, 40vw, 580px);
    max-width: 1000px;
    aspect-ratio: 8/3;
    display: flex;
    align-items: center;
    position: relative;
}

.map-image6 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: clamp(10px, 2vw, 20px); 
}

.view-car-parks-button1 {
    position: absolute;
    bottom: -8%;
    right: -5%;
    transform: translateX(-50%);
    width: clamp(120px, 20vw, 160px);
    height: clamp(120px, 20vw, 160px);
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.view-car-parks-button:focus {
    outline: none;
    box-shadow: none;
}

.view-car-parks-icon1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.view-car-parks-button:focus {
    outline: none;
    box-shadow: none;
}

.view-car-parks-icon1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 430px) {
    .container5 {
        display: flex;
        align-items: center;
        width: 100%;
        gap: clamp(0.5rem, 2vw, 2%);
        flex-direction: column;
        justify-content: center;
    }
    
    .leftContainer5 {
        position: relative;
        width: 70%;
        aspect-ratio: 5 / 3;
        background-color: transparent;
        margin-top: 10vh;
        box-sizing: border-box;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .rightContainer5 {
        position: relative;
        width: 30%;
        aspect-ratio: 5 / 7;
        background-color: transparent;
        box-sizing: border-box;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    .directions-container3 {
        position: relative;
        height: 48vh;
        width: 75vw;
        aspect-ratio: 2 / 3;
        background-color: transparent;
        border: clamp(1px, 0.2vw, 2px) solid #000;
        border-radius: 20px;
        margin-top: 1vh;
        margin-left: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: clamp(0.5rem, 2vw, 1rem);
        overflow: hidden;
        align-items: center;
    }
    
    .directions-header {
        height: 10%;
        width: 100%;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    
    .directions-title {
        color: #000;
        font-family: Inter;
        font-size: 4.5vw;
        font-weight: 570;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    
    .directions-timer {
        padding-left: clamp(1rem, 5vw, 26%);
        object-fit: contain;
        display: flex;
        align-items: center;
    }
    
    .directions-duration {
        color: #000;
        font-family: Inter;
        font-size: 4vw;
        font-weight: 570;
        padding-left: clamp(0.5rem, 3%, 3%);
        white-space: nowrap;
    }
    
    .step-list-container {
        flex: 1;
        margin-bottom: clamp(0.5rem, 1vw, 1rem);
        padding-right: clamp(0.25rem, 1vw, 5px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
        height: 90%;
    }
    
    .step-list {
        list-style: none;
        padding: 0;
        margin-top: 0;
        overflow-y: auto;
    }
    
    .step-item {
        display: flex;
        align-items: center;
        gap: clamp(0.3rem, 1vw, 10px);
        margin-bottom: clamp(0.1rem, 0.5vw, 0.2rem);
        justify-content: space-between;
    }
    
    .step-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: clamp(20px, 2.5vw, 30px);
        height: clamp(20px, 2.5vw, 30px);
        flex-shrink: 0;
    }
    
    .step-text {
        margin: 0;
        font-size: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        margin-left: 6%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .step-description {
        display: flex;
        flex-grow: 1;
        text-align: left;
    }
    
    .step-distance-duration {
        font-size: 3vw;
        margin-top: -5%;
        color: #555;
    }
    
    .start-container {
        position: absolute;
        bottom: -7vh;
        width: 20vw;
        height: 20vh;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
    
    .start-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .rowContainer5 {
        width: 100%;
        max-width: clamp(600px, 90vw, 900px);
        aspect-ratio: 10 / 1;
        background-color: #FFF;
        margin-top: clamp(1rem, 2%, 2%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: clamp(10px, 2vw, 20px);
    }
    
    .map-container6 {
        height: 32vh;
        max-width: 80vw;
        aspect-ratio: 8/3;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .map-image6 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px; 
    }
    
    .view-car-parks-button1 {
        position: absolute;
        bottom: -37%;
        right: -13%;
        transform: translateX(-50%);
        width: 30vw;
        height: 30vh;
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    
    .view-car-parks-button:focus {
        outline: none;
        box-shadow: none;
    }
    
    .view-car-parks-icon1 {
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
    
    .view-car-parks-button:focus {
        outline: none;
        box-shadow: none;
    }
    
    .view-car-parks-icon1 {
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
}